$primaryColorOne: #012033;
$primaryColorTwo: #1c6a89;
$primaryColorThree: #ffffff;
$primaryColorFour: #f7f8f9;
$primaryColorFive: #13182c;
$primaryColorSix: #5c667e;

$secondaryColorOne: #E6A827;
$secondaryColorTwo: #F7D116;

$thirdColorOne: #F12B6E;
$thirdColorTwo: #D4046E;

