@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/global" as *;

.shopping-cart-wrapper{

  background-color: $secondaryColorOne; //  background
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px auto; // Center the form container
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 63rem;


    &__item, &__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
    }
&__imgwrapper{
  margin-right: 9rem;
  font-weight: 700;
}
&__quantitywrapper{
  font-weight: 700;
}

    &__img{
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 12rem;
    }

    input[type="email"], input[type="text"] {
      width: calc(100% - 10px); 
      margin: 0.625rem 0;
      padding: 0.625rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      box-sizing: border-box; 
    }

    &__cancel{
        width: 45% !important;
        margin-right: 1rem;
    
        @include tablet {
          width: fit-content;
        }
        :hover {
          color: $primaryColorTwo;
          border-color: $primaryColorTwo;
        }
    }
    &__confirm{
        width: 45% !important;
        @include tablet {
          width: fit-content;
        }
        :hover {
          color: $primaryColorTwo;
          background-color: $primaryColorTwo;
        }
    }

}

.error-message{
  color: red;
  font-weight: 700;
}