@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/global" as *;

.header {
  background-color: $primaryColorThree;

  &__content-main-wrap {
    max-width: 63rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      width: 90%;
      height: 100px;

    }
  }

  .header-logo-link {
    display: block;
    margin: 0 1rem;
    @include desktop {
      width: 48.25rem;
      margin: 0 auto;
    }
  }

  &__logo {
    width: 80px;
    height: 80px;
    
  }

  &__nav {
    height: 3rem;
    @include tablet {
      min-width: 0;
      height: 4.18rem;
      line-height: 4.18rem;
    }
  }
  &__icons{
    height: 50px;
    width: 50px;
    margin-right: 1rem;

  }

}
